<html>
  <head>
    <link rel="stylesheet" href="/screen.css">
  </head>
  <body>
    <% if alert_msg %>
      <div class="alert <%= alert_type %>"><%= alert_msg %></div>
    <% end %>
    <div class="page">
      <div>
        <img src="/doorbot-gray.png" alt="Doorbot Logo" class="logo">
        <h1>Please sign in.</h1>
        <div class="highlight-box">
          <form action="/login" method="POST">
            <%= csrf_tag %>
            <input type="submit" class="nice-button" value="Sign In">
          </form>
          <p>Click the button above to sign in with your Hacker School account.</p>
        </div>
      </div>
    </div>
  </body>
</html>
