body {
  margin: 1em;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.page {
  height: 100%;
  max-width: 425px;
  margin: 0 auto;
  display: table;

  &>div {
    display: table-cell;
    vertical-align: middle;
  }
}

.logo {
  width: 150px;
  margin: 0 auto;
  display: block;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0;
}

.highlight-box {
  background-color: #CDE0EA;
  border-radius: 8px;
  padding: 20px;

  p {
    margin: 0;
  }
}

p {
  font-size: 0.875em;
  line-height: 1.6;
}

.nice-button {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  display: block;
  width: 100%;
  padding: 0.7em 0;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
  outline: none;


  border-radius: 8px;
  background-image: -o-linear-gradient(-90deg, #ADD9FF 0%, #38C7FD 3%, #007AE4 98%, #172276 100%);
  background-image: -moz-linear-gradient(-90deg, #ADD9FF 0%, #38C7FD 3%, #007AE4 98%, #172276 100%);
  background-image: -webkit-linear-gradient(-90deg, #ADD9FF 0%, #38C7FD 3%, #007AE4 98%, #172276 100%);
  background-image: -ms-linear-gradient(-90deg, #ADD9FF 0%, #38C7FD 3%, #007AE4 98%, #172276 100%);
  background-image: linear-gradient(-180deg, #ADD9FF 0%, #38C7FD 3%, #007AE4 98%, #172276 100%);
  border: 1px solid #0E5E7E;
  -moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.31);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.31);
  box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.31);

  &:hover {
    cursor: pointer;
  }

  &:active {
    /* Rectangle 3 copy 2: */

    border-radius: 8px;
    /* Rectangle 3 copy 2: */
    /* Rectangle 3 copy 2: */
    background-image: -o-linear-gradient(-90deg, #ADD9FF 0%, #25B5F3 3%, #1FA0F9 100%);
    background-image: -moz-linear-gradient(-90deg, #ADD9FF 0%, #25B5F3 3%, #1FA0F9 100%);
    background-image: -webkit-linear-gradient(-90deg, #ADD9FF 0%, #25B5F3 3%, #1FA0F9 100%);
    background-image: -ms-linear-gradient(-90deg, #ADD9FF 0%, #25B5F3 3%, #1FA0F9 100%);
    background-image: linear-gradient(-180deg, #ADD9FF 0%, #25B5F3 3%, #1FA0F9 100%);
    border: 1px solid #0E5E7E;
    box-shadow: none;
  }
}

.nice-text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: bold;
  font-size: 1em;
  display: block;
  width: 100%;
  padding: 0.7em;
  outline: none;
  border-radius: 8px;
  border: 1px solid #999;
  -moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.31), inset 0px 1px 1px 0px rgba(0,0,0,0.31);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.31), inset 0px 1px 1px 0px rgba(0,0,0,0.31);
  box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.31), inset 0px 1px 1px 0px rgba(0,0,0,0.31);

  &:focus {
    border: 1px solid #333;
  }
}

.footer {
  margin-top: 20px;
  text-align: center;
  &, a {
    color: #666;
  }
  a {
    text-transform: uppercase;
    font-size: 0.8em;
    text-decoration: none;

    &:hover {text-decoration: underline;}
  }
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  transition: opacity .4s;
  opacity: 0;
  height: 0;
  overflow: hidden;

  &.visible {
    height: auto;
    opacity: 1;
  }

  &.visible .modal-window {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.modal-window {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  background: #FFFFFF;
  -moz-box-shadow:    0px 2px 6px 0px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.50);
  box-shadow:         0px 2px 6px 0px rgba(0,0,0,0.50);
  transition: transform 0.4s cubic-bezier(0.175, 0.605, 0.115, 1.145);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.605, 0.115, 1.145);
  transform: scale(.1);
  -webkit-transform: scale(.1);

  p {
    margin: 0;
  }

  .nice-text {
    margin: 1em 0;
  }
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  text-align: center;
  font-weight: bold;

  -webkit-animation: slide_up .3s ease-in 4s forwards;
     -moz-animation: slide_up .3s ease-in 4s forwards;
       -o-animation: slide_up .3s ease-in 4s forwards;
          animation: slide_up .3s ease-in 4s forwards;

  &.success {
    background-color: #17CD00;
    color: #fff;
  }

  &.fail {
    background-color: #a00;
    color: #fff;
  }
}

@-webkit-keyframes slide_up { from { top: 0; } to { top: -4em; }  }
   @-moz-keyframes slide_up { from { top: 0; } to { top: -4em; }  }
     @-o-keyframes slide_up { from { top: 0; } to { top: -4em; }  }
        @keyframes slide_up { from { top: 0; } to { top: -4em; }  }