<html>
  <body>
    <h1>Unlock the Door Now</h1>
    <form action="/unlock" method="POST">
      <input type="submit" value="Unlock">
    </form>
    <h1>Update Your Phone Number</h1>
    <form action="/update_user" method="POST">
      <input type="phone" name="phone" value="<%= user_number %>">
      <input type="submit" value="Update">
    </form>
  </body>
</html>
